# Build artifacts
.build/
build/
bin/
*.dll
*.so
*.dylib

# Godot
.export/
.import/
*.godot

# Submodule outputs
extern/godot-cpp/bin/
extern/godot-cpp/.sconsign.dblite

# Editor cruft
.DS_Store
Thumbs.db
