# Build artifacts
.build/
build/
# keep addon binaries tracked
bin/
!.gitkeep
addons/multi_mouse/bin/multi_mouse.gdextension
addons/multi_mouse/bin/win64/
addons/multi_mouse/bin/win64/*.dll
*.dll
*.so
*.dylib

# Godot
.export/
.import/
*.godot

# Submodule outputs
extern/godot-cpp/bin/
extern/godot-cpp/.sconsign.dblite

# Editor cruft
.DS_Store
Thumbs.db
